/* Entire Document */
body {
  width: 100%;
  text-align: center;
  margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
/* Nav */

nav {
  color: white;
  background: black;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  font-family: sans-serif;
  font-family: "Circle", Verdana, Tahoma;
  text-align: center;
  vertical-align: middle;
}

#nic {
  color: #40cc33;
  text-decoration: none;
}

#nic:hover {
  color: #4a9943;
}

/* Buttons */
button{
   font-family: 'Roboto', sans-serif;
}

#blocks > button{
  width: 100px; 
  height: 100px; 
  border: 1px solid black; 
}

button:focus {outline:0;}

#redBlock{
  background: #D91B1A; 
}
#redBlock:hover{
  background:  #6B0D0D; 
}
#blueBlock{
  background: #5B17C2; 
}
#blueBlock:hover{
  background:  #290D6B; 
}
#yellowBlock{
  background: #CCCF18; 
}
#yellowBlock:hover{
  background:  #879111; 
}
#greenBlock{
  background: #25C217; 
}
#greenBlock:hover{
  background:  #0D6B0F; 
}

