/* Entire Document */

body {
  width: 100%;
  text-align: center;
  margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}


/* Nav */

nav {
  color: white;
  background: black;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  font-family: sans-serif;
  font-family: "Circle", Verdana, Tahoma;
  text-align: center;
  vertical-align: middle;
}

#nic {
  color: #40cc33;
  text-decoration: none;
}

#nic:hover {
  color: #4a9943;
}

/* Simon Container */
#simonSaysContainer {
  width: 580px; /* change to vw */
  height: 580px; /* change to vh */
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border: solid 10px #444;
  border-radius: 100%;
  overflow: hidden;
}

.button {
  width: 50%;
  height: 50%;
  border: solid 6px #444;
  padding: 100px;
  
}
/* Buttons */

button:focus {outline:0;}

#redBlock{
    border-top: none  ;
  border-right: none ;
  background: #D91B1A; 
}
#redBlock:hover{
  background:  #6B0D0D !important; 
}
#blueBlock{
   border-bottom: none ;
  border-right: none  ;
  background: #5B17C2; 
}
#blueBlock:hover{
  background:  #290D6B !important; 
}
#yellowBlock{
    border-bottom: none ;
  border-left: none  ;
  background: #CCCF18; 
}
#yellowBlock:hover{
  background:  #879111 !important; 
}
#greenBlock{
  border-top: none  ;
  border-left: none  ;
  background: #25C217; 
}
#greenBlock:hover{
  background:  #0D6B0F !important; 
}

